@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);

    /*Background*/

    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /*Neutral*/

    /*Text*/

    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /*Dividers*/

    --Light-grayish-blue: hsl(240, 5%, 91%);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background-image: linear-gradient(to bottom, var(--Soft-violet), var(--Soft-blue));
    background-attachment: fixed;
}

main{
    margin: auto;
    width: 1000px;
    height: 500px;
    background-color: var(--Light-grayish-blue);
    color: rgb(56, 56, 56);
    display: flex;
    border-radius: 20px;
    justify-content: space-between;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div{
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

h2{
    color: var(--Very-dark-grayish-blue);
    font-weight: 400;
}

h2:hover{
    color: var(--Soft-red);
}

.imagem-principal{
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-position: -570px;
    position: relative;
    left: 0px;
    cursor: auto;
    overflow: hidden;
}

.imagem-desktop{
    position: relative;
    left: -80px;
}

.imagem-mobile{
    display: none;
}
.container2{
    display: block;
    margin: auto;
}

.resposta{
    color: var(--Dark-grayish-blue);
    max-height: 0px;
    overflow: hidden;
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    transition: 0.4s ease-in-out;
    opacity: 0;
}

.ativar{
    max-height: 300px;

    opacity: 1;
}

.pergunta-resposta{
    border-bottom: .5px solid var(--Dark-grayish-blue);
    display: block;
    width: 400px;
}

.pergunta-resposta:last-of-type{
    border-bottom: 0px;
}

.pergunta-img{
    justify-content: space-between;
}

.ceta{
    width: 12px;
    height: 10px;
}

.cubo{
    display: block;
    position: absolute;
    bottom: 110px;
    left: -110px; 
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }


